NODE_ENV=development
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_CONTACT_EMAIL=contact@example.com
API_HOST=0.0.0.0
API_PORT=4000
DATABASE_URL=postgresql://user:password@ep-xxxx.aws.neon.tech/neondb?sslmode=require
DATABASE_READ_URL=postgresql://user:password@ep-xxxx-pooler.aws.neon.tech/neondb?sslmode=require
EIA_API_KEY=your_eia_v2_api_key_here
