NODE_ENV=development
NEXT_PUBLIC_SITE_URL=http://localhost:3000
API_HOST=0.0.0.0
API_PORT=4000
DATABASE_URL=postgresql://user:password@ep-xxxx.aws.neon.tech/neondb?sslmode=require
DATABASE_URL_POOLED=postgresql://user:password@ep-xxxx-pooler.aws.neon.tech/neondb?sslmode=require
